node_modules/
bower_components/
!dist/.gitkeep
dist
!lib/.gitkeep
lib
!docs/public
!docs/docco.css
docs/
coverage/

.babel-cache/

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

*.userprefs
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.psess
*.vsp
*.vspx

*.plg
*.opt
*.bak

*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

*.sublime-workspace
# *.sublime-project

\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

logs

pids
*.pid
*.seed

lib-cov

coverage

.grunt

.lock-wscript

build/Release

.tmp/

.idea/
*.ipr
*.iws
.DS_Store
.AppleDouble
.LSOverride

Icon

._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

*.cab
*.msi
*.msm
*.msp

*.lnk

.directory

.Trash-*
